/* Form */
.form-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 118, 118);
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form label {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

form input {
  background-color: rgb(40, 38, 38);
  color: white;
  font-size: 1.1rem;
  height: 4vh;
  border-radius: 50px;
  padding: 20px 10px;
  outline: none;
  margin: 10px;
}

form input::placeholder {
  color: white;
}

form button {
  width: 100px;
  height: 30px;
  align-self: center;
  border-radius: 50px;
  outline: none;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* Groceries List */
.groceries-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.groceries-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 60%;
  height: 6vh;
  border-radius: 50px;
  background-color: tan;
}

.groceries-items li {
  list-style: none;
  font-size: 1.2rem;
}
